.navbar-default .navbar-header {
	background-color: grey;
	border: 2px solid black;
	box-sizing: content-box;
	width: 100%;
	padding: 0px 15px;
	margin: -1px -15px 0px -16px;
}

.navbar-default .navbar-brand {
	color: black;
	font-size: 2em;
	font-weight: bold;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  
}

#nav-list hr {
	padding: 0px;
	margin: 0px;
	height: 2px;
	background-color: black;
}

#foodItems ul {
	border: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
}
#foodItems ul li{
	background-color: cyan;
}

#chosen-one {
	border:1px solid black;
	height: 1000px;
	background-color: grey;
}